/* @author: Aadhya */
/*Customized style sheet which changes some attributes of the existing css elements in Materialize by overriding
the given attributes with customized attributes*/

/*Each icon has a padding of 5px on the */
.icon-block {
  padding: 0 5px;
}
/*Icons inherit from their parents*/
.icon-block .material-icons {
	font-size: inherit;
}

/*General flow-text should be smaller than the the project names so fix it to be 16px*/
.flow-text{
    font-size:16px;
}
/*If using project names, then set font size to be larger i.e 18px and avoid breaking text at end of page*/
#project .flow-text{
    font-size:18px;
    -webkit-column-break-inside: avoid;
}
/*Split elements in div to organize in 3 columns*/
#columns{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
/*Add a padding to the logo to the left to make it not stick to one side of the window*/
#logo-container{
    padding-left:60px;
}
/*Allow iframe to occupy the entire width of the screen, set a fixed height and remove borders*/
.frame iframe{
    width:100%;
    height:475px;
    border:none;
}

/* Creates a readable text area which can't be resized and allows for overflow and a scroll function */
#chat {
    resize:none;
    overflow: scroll;
    height: 24rem;
    overflow-y: visible;
}

/* File upload submit button which allows for margin from the top and sets the height of the submit button */
#upload_submit{
    margin-top: 15px;
    height:45px;
}